<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <h3><a href="/event/{{id}}">{{name}}</a></h3>
    <!-- The card contains the gallery name as the card header -->
    <p>{{date}}</p>
    <p>{{time}}</p>
  
</section>