<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Event Planner</title>
  </head>

<body>

<header class="header">
  <h1 class="logo">Event Planner</h1>
    <ul class="main-nav">
      <li></li><a href="/">Home</a></li>
      {{#if loggedIn}}
      <li><a href="api/users/logout">Logout</a></li>
      <li><a href="/new-event">Create Event</a></li>
      <li><a href="/calendar">View Calendar</a></li>
      <li><a href="/users/{{userId}}">View Profile</a></li>
      {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
      {{/if}}
    </ul>
</header>

<main>
  {{{body}}}
</main>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>