<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/trex.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    ></script>
    <link href="/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <title>Event Planner</title>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light" id="navbar">
      <a class="navbar-brand" id="navbar-brand" href="/">Events!</a>

      <div
        class="navbar-nav  navbar-light bg-light"
        id="navbar-nav"
      >
        {{#if loggedIn}}
          <a class="nav-link" id="nav-link" href="/users/{{userId}}">Your Events</a>
          <a class="nav-link" id="nav-link" href="/rsvp-events">Events You're
            Attending</a>
          <a class="nav-link" id="nav-link" href="/calendar">Calendar</a>
          <a class="nav-link" id="nav-link" href="/new-event">Create Event</a>
          <a class="nav-link" id="nav-link" href="/logout">Logout</a>
        {{else}}
          <a class="nav-link" id="nav-link" href="/rsvp-events">Upcoming Events</a>
          <a class="nav-link" id="nav-link" href="/calendar">Calendar</a>
          <a class="nav-link" id="nav-link" href="/login">Login</a>
          <a class="nav-link" id="nav-link" href="/signup">Signup</a>
        {{/if}}
      </div>

    </nav>

    <main>
      {{{body}}}
    </main>

  </body>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
  ></script>
</html>