<link href="/dist/main.css" rel="stylesheet" />

<div id="calendar"></div>

<p id="eventName" style="display:none">{{name}}</p>
<p id="eventDate" style="display:none">{{date}}</p>



<script src="/dist/main.js"></script>