<div class="card">
    {{!-- login, email input, password input, button to login, button to sign up instead --}}

    <div class="card-header">
        <h2>Login</h2>
    </div>

    <form id="login-form" class="card-body">
        <div class="form-outline mb-4">
            <input type="text" id="email-login">
            <label for="email-login">Email</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="password-login">
            <label for="password-login">Password</label>
        </div>
        <button type="submit" id="login-btn" class="btn btn-block mb-4">Log in</button>
        <button type="button" href="/signup">Sign up</button>
    </form>

</div>

<script src="/js/login.js"></script>

