<div class="card p-3 m-3">
    {{!-- login, email input, password input, button to login, button to sign up instead --}}

    <div class="card-header">
        <h2>Login</h2>
    </div>

    <form id="login-form" class="card-body">
        <div class="form-group">
            <div class="form-outline mb-4">
                <label for="email-login">Email</label>
                <input type="text" id="email-login" class="form-control">

            </div>
        </div>
        <div class="form-group">
            <div class="form-outline mb-4">
                <label for="password-login">Password</label>
                <input type="password" id="password-login" class="form-control">
            </div>
        </div>
        <button type="submit" id="login-btn" class="btn button btn-primary">Log in</button>
    </form>

</div>

<script src="/js/login.js"></script>