<h1>This is my profile Welcome back, {{name}}</h1>

{{#each Events}}
    <div class = "card">
    <header>{{name}}</header>
    <p>{{date}}</p>
    <p>{{time}}</p>
    </div>
{{/each}}


<script src="/js/profile.js"></script>