<div class="card">
    {{!-- signup, name input, email input, password input, button to sign up --}}

    <div class="card-header">
        <h2>Sign Up</h2>
    </div>

    <form class="signup-form" class="card-body">
        <div class="form-outline mb-4">
            <input type="text" class="name-signup">
            <label for="name-signup">Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" class="email-signup">
            <label for="email-signup">Email</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" class="password-signup">
            <label for="password-signup">Password</label>
        </div>
        <button>Sign up</button>
    </form>

</div>

<script src="/js/signup.js"></script>