<div class="card">
    {{!-- signup, name input, email input, password input, button to sign up --}}

    <div class="card-header">
        <h2>Sign Up</h2>
    </div>

    <form id="signup-form" class="card-body">
        <div class="form-outline mb-4">
            <input type="text" id="name-signup">
            <label for="name-signup">Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="email-signup">
            <label for="email-signup">Email</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="password-signup">
            <label for="password-signup">Password</label>
        </div>
        <button type="submit" id="signup-btn" class="btn btn-block mb-4">Sign up</button>
    </form>

</div>

<script src="../public/js/signup.js"></script>